@{

    ViewData["Title"] = "Index";
}
<div style="width: 100%; padding: 50px" class="container">
    <div class="row">
        <img src="https://caresspet.com/wp-content/uploads/2018/07/ss3-1280x640.png"/>
        <p>
            Our AOS aquarium store provides a full range of ornamental fish, equipment, supplies, aquatic plants, aquariums, .. for the construction of a luxurious and beautiful aquarium.
            Coming to our store, you will be able to see with your own eyes dozens or even hundreds of eye-catching large and small fish, in addition to a wide variety of aquatic species grown at the store.
        </p>
        <img src="https://nongnghiepmoi.net/wp-content/uploads/2021/03/tat-tan-tat-nhung-dieu-ban-can-biet-khi-nuoi-ca-canh-464-7.jpg" />
        <p>
            We are very pleased to bring to your space a miniature world of fish, plants, water and comfortable relaxation after stressful working hours.

            Here you can find lovely tanks displayed on the desk, dining table, drinking table or large sets of tanks suitable for luxurious living room space, polite office space.

            Mini tanks will also solve the problem of area with small apartments. You will be consulted on the price to get the most satisfactory tank set.

            And let yourself watch the fish swim, feed them or guide your kids to take care of them, we believe it's time for you to shake off your worries about work.
        </p>
        <img src="https://caresspet.com/wp-content/uploads/2017/04/cd1.jpg"/>
    </div>
</div>