@model IEnumerable<Shop.Models.OrderDetail>
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
    </div>
    <!-- breadcrumb area end -->
    <!-- wishlist main wrapper start -->
    <div class="wishlist-main-wrapper section-padding">
        <div class="container">
            <!-- Wishlist Page Content Start -->
            <div class="section-bg-color">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Wishlist Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Product Image</th>
                                        <th class="pro-title">Product name</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Status</th>
                                        <th class="pro-subtotal">Add to cart</th>
                                        @*<th class="pro-remove">Delete</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string[] arrListStr = item.Product.ProductImage.Split(' ');

                                    <tr>
                                        <td class="pro-thumbnail"><a href="/Products/Details/@item.Id"><img class="img-fluid" src="~/images/@arrListStr[0]" alt="Product" /></a></td>
                                        <td class="pro-title"><a href="/Products/Details/@item.Id">@item.Product.ProductName</a></td>
                                        <td class="pro-price"><span>@item.Price VND</span></td>
                                        @if (item.Product.ProductQuantity > 0)
                                        {


                                            <td class="pro-quantity"><span class="text-success">Available</span></td>
                                            <td class="pro-subtotal">
                                            <button disabled class="btn btn-sqr">
                                                Add to cart
                                            </button>
                                        </td>
                                        }
                                        else
                                        {
                                            <td class="pro-quantity"><span class="text-success">Unavailable</span></td>
                                            <td>
                                                <a asp-controller="AddOrder" asp-action="AddtoCart" asp-route-id="@item.ProductId" class="btn btn-sqr">
                                                    Add to cart
                                                </a>
                                            </td>
                                        }

                                        
                                        @*<td class="pro-remove"><a  asp-controller="AddOrder" asp-action="Delete" asp-route-id="@item.ProductId"><i class="fa fa-trash-o"></i></a></td>*@
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wishlist Page Content End -->
        </div>
    </div>
    <!-- wishlist main wrapper end -->
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->
<!-- footer area start -->
<!-- footer area end -->
<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider">
                                <div class="pro-large-img img-zoom">
                                    <img src="~/images/product-details-img1.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/images/product-details-img2.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/images/product-details-img3.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/images/product-details-img4.jpg" alt="product-details" />
                                </div>
                            </div>
                            <div class="pro-nav slick-row-10 slick-arrow-style">
                                <div class="pro-nav-thumb">
                                    <img src="~/images/product-details-img1.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="~/images/product-details-img2.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="~/images/product-details-img3.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="~/images/product-details-img4.jpg" alt="product-details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <h3 class="product-name">Handmade Leather Bags Full Package</h3>
                                <div class="ratings d-flex">
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <div class="pro-review">
                                        <span>1 Reviews</span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    <span class="price-regular">$70.00</span>
                                    <span class="price-old"><del>$90.00</del></span>
                                </div>
                                <div class="availability">
                                    <i class="fa fa-check-circle"></i>
                                    <span>200 in stock</span>
                                </div>
                                <p class="pro-desc">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                </p>
                                <div class="quantity-cart-box d-flex align-items-center">
                                    <h6 class="option-title">qty:</h6>
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <div class="action_link">
                                        <a class="btn btn-cart2" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="useful-links">
                                    <a href="#" data-toggle="tooltip" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>compare
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Wishlist">
                                        <i class="pe-7s-like"></i>wishlist
                                    </a>
                                </div>
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->
<!-- offcanvas mini cart start -->
