
@{
    ViewData["Title"] = "IndexForgotPassWord";
}
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <div class="col-lg-9">
                    <div class="login-reg-form-wrap">
                        <h4>Quên mật khẩu</h4>
                        <form class="user" asp-action="Forgotpassword"
                              asp-controller="Users" method="post">
                            <div class="single-input-item">
                                <input name="Email" type="email" placeholder="Email" required />
                            </div>
                            <div class="single-input-item">
                                <button type="submit" name="login" value="Login" class="btn btn-sqr">Send mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

