@model Shop.Models.Voucher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoucherCode" class="control-label"></label>
                <input asp-for="VoucherCode" class="form-control" />
                <span asp-validation-for="VoucherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherDiscount" class="control-label"></label>
                <input asp-for="VoucherDiscount" class="form-control" />
                <span asp-validation-for="VoucherDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherDescription" class="control-label"></label>
                <input asp-for="VoucherDescription" class="form-control" />
                <span asp-validation-for="VoucherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteAt" class="control-label"></label>
                <input asp-for="DeleteAt" class="form-control" />
                <span asp-validation-for="DeleteAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
